[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/MAMAP"]
	path = external/MAMAP
	url = https://github.com/JoshuaSBrown/MAMAP.git
